@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

#allProducts {
  font-family: 'Roboto Condensed !important';
  flex-wrap: wrap;
  /* width: 900px; */
  /* overflow: hidden; */
}
#allProducts .cardSubtitle {
  font-weight: 400;
}
#allProducts .cardPrice {
  font-weight: 300;
}
#carouselExampleIndicators {
  /* width: 50%; */
  height: 500px;

  margin: 0 auto;
  text-align: center;
}
.carousel-img {
  margin: 0 auto;
  height: 500px !important;
  width: 900px !important;
}
